@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@900&display=swap');
/*      Página index        */
nav.index{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

img.logo-index{
    width: 100px;
    margin: auto;
}

p.logo-index{
    font-family: 'Agency FB Bold', arial;
}

div.banner{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('../IMG/banner.jpg');
    background-size: cover;
}

div.icono-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    grid-template-areas: "iconos"
                         "info";
}

div.iconos{
    grid-area: iconos;
    background-color: #1C4965;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    width: 35%;
    margin: auto;
}

div.iconos i{
    font-size: 80pt;
}

div.info{
    grid-area: info;
    text-align: center;
}

div.info p{
    text-align: justify;
    font-size: 14pt;
}

/*      Página login        */
div.contenedor-login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "formulario    imagen";
    gap: 15px;

    width: 75%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}

div.contenedor-login form.formulario{
    grid-area: formulario;
}

div.contenedor-login div.imagen{
    width: 100%;
    grid-area: imagen;
    background-image: url('../IMG/login.jpg');
    background-size: cover;
    opacity: 0.89;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content:center;
    align-items:center;
}
div.contenedor-login div.imagen h1{
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 3px 2px rgba(0,0,0,0.6);
    animation: fadeIn linear 2.5s;
}

div.contenedor-login span.icono{
    background-color: #4B6D7E;
}

div.contenedor-login i{
    color: #fff;
}

/*      Página new_user     */
section.contenedor-new-user{
    width: 100%;
    background-image: url('../IMG/login.jpg');
    background-size: cover;
}

section.contenedor-new-user div.formulario{
    width: 55%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;

    animation: slideIn 2s;
}

section.contenedor-new-user form{
    width: 100%;
}

section.contenedor-new-user form h2{
    color: #4B6D7E;
    font-weight: bold;
}

section.contenedor-new-user span.icono i{
    color: #4B6D7E;
}

/*      Página new_empresa      */
div.contenedor-new-emp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "imagen    formulario";
    gap: 15px;
}

div.contenedor-new-emp div.formulario{
    grid-area: formulario;
}

div.contenedor-new-emp div.imagen-emp{
    grid-area: imagen;
    background-image: url('../IMG/login_emp.jpg');
    background-size: cover;
}

div.contenedor-new-emp div.imagen-emp h1{
    font-family: 'Raleway', sans-serif;
    width: 50vh;
    font-size: 75pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 10vw;
    animation: fadeIn linear 2.5s;
}

div.contenedor-new-emp span.icono{
    background-color: #121B26;
    color: #fff;
}

/*Página nueva oferta*/
span.input-group-text.oferta i,
label.input-group-text.oferta i{
    padding-right: 25px;
}

div.row{
    padding: 1em;
}

div.btn-group{
    width: 100%;
}

/*      Botones con animación       */
.boton{
    width: 100%;
	height: 35px;
	background:white;
	color: #728E98;
	border: 1.5px solid #728E98;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.boton-2{
    width: 100%;
	height: 35px;
	background:white;
	color: #121B26;
	border: 1.5px solid #121B26;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.boton span{
	position: relative;
	z-index: 2;
	transition: .3 ease all;
}
.boton-2 span{
    position: relative;
	z-index: 2;
	transition: .3 ease all;
}

.boton.estilizado::after{
    content: "";
    width: 115%;
    position: absolute;
    z-index: 1;
    top: 0;
    left:calc(-100% - 15%);
    border-bottom: 35px solid #728E98;
    border-right: 35px solid transparent;
    transition: .4s ease-in-out all;
}
.boton-2.estilizado-2::after{
    content: "";
    width: 115%;
    position: absolute;
    z-index: 1;
    top: 0;
    left:calc(-100% - 15%);
    border-bottom: 35px solid #121B26;
    border-right: 35px solid transparent;
    transition: .4s ease-in-out all;
}

.boton.estilizado:hover::after{
    left: 0;
}
.boton-2.estilizado-2:hover::after{
    left: 0;
}

.boton.estilizado:hover{
    color: #fff;
}
.boton-2.estilizado-2:hover{
    color: #fff;
}

/*     Animaciones      */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes slideIn {
    from {
      margin-top: 30%;
      opacity: 0;
    }
  
    to {
      margin-top:11%;
      opacity: 1;
    }
}

@-moz-keyframes slideIn{
    from {
        margin-top: 30%;
        opacity: 0;
    }
    
    to {
        margin-top:11%;
        opacity: 1;
    }
}

@-webkit-keyframes slideIn{
    from {
        margin-top: 30%;
        opacity: 0;
    }
    
    to {
        margin-top:11%;
        opacity: 1;
    }
}

@-o-keyframes slideIn{
    from {
        margin-top: 30%;
        opacity: 0;
    }
    
    to {
        margin-top:11%;
        opacity: 1;
    }
}

@-ms-keyframes slideIn{
    from {
        margin-top: 30%;
        opacity: 0;
    }
    
    to {
        margin-top:11%;
        opacity: 1;
    }
}

/*      Media queries       */
@media screen and (max-width:768px){
    div.contenedor-login{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "imagen"
                             "formulario";
    }
    div.imagen{
        border-radius: 10px 10px 0px 0;
    }

    form.formulario{
        padding:20px;
    }
}