nav{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

img.logo{
    width: 100px;
    margin: auto;
}

p.logo{
    font-family: 'Agency FB Bold', arial;
}

div.banner{
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: url('../IMG/banner.webp');
    background-size: cover;
}